.audiowide {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: #608BC1;
  text-align: center;
}

body>p{
  margin: 3rem;
  font-size: 1.5rem;
  color: #091057;
}

button p{
  font-size: 5rem;
  color: #091057;
  margin-top: 0;
}

.button-flexbox-container{
  display: flex;
  height: 50vh;
  align-items: flex-start;
  justify-content: center;
  gap:2rem;
}

.button-flexbox-container button{
  width: 10vw;
  height: 60%;
  border-radius: 2rem;
  border: none;
}

.clicked{
  opacity: 0.7;
  box-shadow: 2rem 2rem 1rem #091057;
}

.e{
  background-image: url(./images/tom3.png);
  background-size: cover;
}

.q{
  background-image: url(./images/tom1.png);
  background-size: cover;
}

.r{
  background-image: url(./images/tom4.png);
  background-size: cover;
}

.rubik {
  font-family: "Rubik Moonrocks", serif;
  font-weight: 400;
  font-style: normal;
}

.t{
  background-image: url(./images/snare.png);
  background-size: cover;
}

.title-flexbox-container{
  display: flex;
  justify-content: center;
  height: 40vh;
  align-items: center;
}

.title-flexbox-container h1{
  font-size: 5rem;
  color: #091057;
}

.u{
  background-image: url(./images/kick.png);
  background-size: cover;
}

.w{
  background-image: url(./images/tom2.png);
  background-size: cover;
}

.y{
  background-image: url(./images/crash.png);
  background-size: cover;
}